/* CSS Document */


/* body */
body {
  z-index: -100;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #000000;
}


/* nav bar */
nav {
  box-sizing: border-box;
  display: inline-block;
	border: 3px solid #000000;
	background-color: #AC1113;
	color: white;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 76px;
	border-radius: 0px 0px 4px 4px;
	font-family: Calibri;
  z-index: 60;
}

.nav-icon {
  vertical-align: middle;
  position: relative;
  left: 2%;
}

.nav-menu {
  box-sizing: border-box;
  float: right;
  position: relative;
  right: 5%;
  vertical-align: middle;
}

.nav-menu ul {
  padding: 0px;
  vertical-align: inherit;
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  font-size: 24px;
  vertical-align: inherit;
}

.nav-menu ul a {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  padding: 20px;
  vertical-align: inherit;
}

.nav-menu ul li:hover > a {
  color: #DDDDDD;
}

#home-name {
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
/* end nav bar */


/* header */
header {
  
}
/* end header */

/* 
 *    [main section]
 */
section {
  z-index: 0;
}

section div {
  overflow: hidden;
}

section div.img-wrapper {
  z-index: 0;
  filter: blur(8px) saturate(115%);
  -webkit-filter: blur(8px);
  display: block;
  text-align: center;
  
  box-sizing: padding-box;
  background-color: #B7B7B7;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
}

section div#block-2 div.img-wrapper {
  height: 75%;
}

section div.img-wrapper img {
  position: relative;
  top: -100px;
  min-width: 100%;
  min-height: 1200px;
  resize: both;
  align-content: center;
}

/* scrollbar */
section.welcome::-webkit-scrollbar {
  width: 8px;
}

section.welcome::-webkit-scrollbar-button {
  width: 8px;
  height: 0px;
  background-color: black;
}

section.welcome::-webkit-scrollbar-track {
  background: #FFFFFF;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 1px;
}

section.welcome::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 1px;
}

section.welcome::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

section.welcome::-moz-scrollbar {
  width: 8px;
}

section.welcome::-moz-scrollbar-button {
  width: 8px;
  height: 0px;
  background-color: black;
}

section.welcome::-moz-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 1px;
}

section.welcome::-moz-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 1px;
}

section.welcome::-moz-scrollbar-thumb:hover {
  background: #7d7d7d;
}
/* ===================================*/
div.welcome-block_box::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

div.welcome-block_box::-webkit-scrollbar-button {
  width: 10px;
  height: 0px;
  opacity: 0.5;
}

div.welcome-block_box::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.00);
  border: thin solid rgba(0,0,0,0.00);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.00) inset;
  border-radius: 5px;
  opacity: 0.5;
}

div.welcome-block_box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.10);
  border: thin solid rgba(0,0,0,0.00);
  border-radius: 5px;
  opacity: 0.5;
}

div.welcome-block_box::-webkit-scrollbar-thumb:hover {
  background: rgba(125,125,125,0.60);
  opacity: 0.8;
}

div.welcome-block_box::-moz-scrollbar {
  width: 10px;
  opacity: 0.5;
}

div.welcome-block_box::-moz-scrollbar-button {
  width: 10px;
  height: 0px;
  opacity: 0.5;
}

div.welcome-block_box::-moz-scrollbar-track {
  background: rgba(0,0,0,0.00);
  border: thin solid rgba(0,0,0,0.00);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.00) inset;
  border-radius: 5px;
  opacity: 0.5;
}

div.welcome-block_box::-moz-scrollbar-thumb {
  background: rgba(0,0,0,0.10);
  border: thin solid gray;
  border-radius: 5px;
  opacity: 0.5;
}

div.welcome-block_box::-moz-scrollbar-thumb:hover {
  background: rgba(125,125,125,0.60);
  opacity: 0.8;
}


/* end scrollbar */


/* main content */
section.welcome {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.welcome-block {
  box-sizing: padding-box;
  background-color: #000000;
  display: block;
  width: 100%;
  position: relative;
  top: 0px;
  height: 100%;
}

div.welcome-block_box {
  z-index: 20;
  box-sizing: padding-box;
  background-color: rgba(202,209,219,0.6);
  display: inline-block;
  float: left;
  position: relative;
  top: 5%;
  left: 0px;
  margin: 5% 20%;
  padding: 1em;
  border-style: none;
  border-radius: 5px;
  box-shadow: 
    inset 0 0 5px rgba(0, 0, 0, 0.8),
    0 0 5px 1px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  font-family: Calibri;
  max-height: 60%;
  min-height: 20%;
  width: 60%
  
}

div.welcome-block_box h1 {
  text-align: center;
  font-size: xx-large;
  margin: 1em;
}

div.welcome-block_box p {
  margin: 2em;
  padding: 1em;
}

div.welcome-block_box pre {
  margin: 2em;
  padding: 1em;
}

div.events-block {
  z-index: 20;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-height: 80%;
  min-height: 60%;
  margin: 2.5% 0px;
  
}

div.events-block p {
  z-index: 100;
  font-family: Calibri;
  position: relative;
  
}

#events-button {
  display: none;
  visibility: hidden;
  z-index: 15;
  position: absolute;
  left: 200px;
  bottom: 20px;
}

#upcoming-events {
  z-index: 20;
  font-size: xx-large;
  font-family: Calibri;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(157,157,157,1.00);
  display: inline-block;
  position: relative;
  margin: 2.5%;
  padding: 0.6em 1em;
  border-style: none;
  border-radius: 4px;
  box-shadow:
    inset 0 0 5px rgba(0, 0, 0, 0.8),
    0 0 5px 1px rgba(0, 0, 0, 0.8);
  
}
/* end main content */


/*
 * end [main section]
 */



/* footer */
footer {
  background-color: rgba(39,39,39,1.00);
  position: absolute;
  bottom: 0px;
  height: 25%;
  width: 100%;
}

/* end footer */
